$bubble-count: 50;
$sway-type: "sway-left-to-right", "sway-right-to-left";

@function random_range($min, $max) {
  $rand: random();
  $random_range: $min + floor($rand * (($max - $min) + 1));
  @return $random_range;
}

@function sample($list) {
  @return nth($list, random(length($list)));
}

@function random_rgb() {
  $red: random(78); // Random hue value between 0 and 360
  $green: random(78); // Random saturation value between 0% and 50%
  $blue: random(78); // Random lightness value between 0% and 50%
  @return rgb($red, $green, $blue);
}

$specific-colors: rgba(78, 74, 99, 0.527), rgba(23, 163, 184, 0.267),
  rgba(255, 170, 0, 0.452), rgba(220, 53, 70, 0.178);

// Function to randomly select a color from the list
@function random_specific_color($color) {
  @return nth($color, random(length($color)));
}

.bubbles {
  position: absolute;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: -100;
}

.bubble {
  position: absolute;
  left: var(--bubble-left-offset);
  bottom: -75%;
  display: block;
  width: var(--bubble-radius);
  height: var(--bubble-radius);
  border-radius: 50%;
  animation: float-up var(--bubble-float-duration) var(--bubble-float-delay)
    ease-in infinite;

  &::before {
    position: absolute;
    content: "";
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--bubble-color);
    border-radius: inherit;
    animation: var(--bubble-sway-type) var(--bubble-sway-duration)
      var(--bubble-sway-delay) ease-in-out alternate infinite;
  }

  @for $i from 0 through $bubble-count {
    &:nth-child(#{$i}) {
      --bubble-color: #{random_specific_color($specific-colors)};
      --bubble-left-offset: #{random_range(0vw, 100vw)};
      --bubble-radius: #{random_range(1vw, 10vw)};
      --bubble-float-duration: #{random_range(6s, 12s)};
      --bubble-sway-duration: #{random_range(4s, 6s)};
      --bubble-float-delay: #{random_range(0s, 4s)};
      --bubble-sway-delay: #{random_range(0s, 4s)};
      --bubble-sway-type: #{sample($sway-type)};
    }
  }
}

@keyframes float-up {
  to {
    transform: translateY(-175vh);
  }
}

@keyframes sway-left-to-right {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(100%);
  }
}

@keyframes sway-right-to-left {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(-100%);
  }
}

// WAVE

.kpi {
  overflow: hidden;
}

.kpi .wave {
  position: absolute;
  top: calc(100% + 22px);
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 255);
  transition: 1s;
}

.kpi .content {
  z-index: 1;
}
.kpi .name_kpi {
  z-index: 1;
}

.kpi:hover {
  span {
    color: rgb(78, 74, 99);
    z-index: 1;
  }
  i {
    color: rgb(78, 74, 99);
    z-index: 1;
  }
}

.kpi:hover .wave {
  top: 0;
}
.kpi .wave:before {
  content: "";
  position: absolute;
  top: -22px;
  left: 0;
  width: 100%;
  height: 22px;
  background: url("/ansv__project/static/src/img/wave.png");
  filter: brightness(0) invert(1);
  animation: animate 1.6s linear infinite;
}

@keyframes animate {
  0% {
    background-position: 0;
  }
  100% {
    background-position: 118px;
  }
}

.barchart_status {
  height: calc(100% - 16px);
}
