#sidebar {
  width: 80px;
  min-width: 80px;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  position: relative;
}

#sidebar.active-sidebar {
  width: 270px;
  min-width: 270px;
  transition: all 0.5s ease-in-out ease-in-out;
}

@media (max-width: 991.98px) {
  #sidebar {
    margin-left: -270px;
  }

  #sidebar.active-sidebar {
    margin-left: 0;
  }
}

#sidebar .custom-menu {
  display: inline-block;
  position: absolute;
  top: 20px;
  right: 0;
  margin-right: -20px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

@media (prefers-reduced-motion: reduce) {
  #sidebar .custom-menu {
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
  }
}

#sidebar .custom-menu .btn {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  position: relative;
}

#sidebar .custom-menu .btn i {
  margin-right: -40px;
  font-size: 14px;
}

#sidebar .custom-menu .btn.btn-primary {
  background: transparent;
  border-color: transparent;
}

#sidebar .custom-menu .btn.btn-primary:after {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: '';
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  background: #3445b4;
  border-radius: 10px;
}

#sidebar .custom-menu .btn.btn-primary:hover,
#sidebar .custom-menu .btn.btn-primary:focus {
  background: transparent !important;
  border-color: transparent !important;
}

a[data-toggle="collapse"] {
  position: relative;
}

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

@media (max-width: 991.98px) {
  #sidebarCollapse span {
    display: none;
  }
}

#sidebar:not(.active-sidebar) .user-avtar-bits>.d-flex>span,
#sidebar:not(.active-sidebar) .main_link.nav-link>span{
  width: 0 !important;
  opacity: 0 !important;
}

#sidebar:not(.active-sidebar) .dropdown-toggle {
  padding-right: 0 !important;
}

#sidebar:not(.active-sidebar) #menu-dropdown>.nav-item,
#sidebar:not(.active-sidebar) .btm-user-menu,
#sidebar:not(.active-sidebar) .primary-nav {
  width: 100% !important;
}

#sidebar:not(.active-sidebar) #menu-dropdown {
  padding: 0 !important;
}

#sidebar.active-sidebar .user-avtar-bits>.d-flex>span,
#sidebar.active-sidebar .main_link.nav-link>span{
  width: 100% !important;
  opacity: 1 !important;
  transition: all 0.5s ease-in-out;
  text-align: left !important;
}

#sidebar .main_link.nav-link,
#sidebar .sidebar,
#sidebar ul {
  width: 100% !important;
}