.o_kanban_renderer.o_helpdesk_team_kanban {
    --KanbanRecord-width: 400px;
}

.oe_kanban_action_button{
    background-color: #676183;
        border-color: #fffbf7;

}

.o_tree_component_ticket .text-danger{
    background-color: #e7706c !important;
               color: #ffffff !important;

}

.oe_form_required {
    color: rgb(255, 66, 66);
}