
.ticket-card {
    padding: 30px 40px;
    margin-top: 60px;
    margin-bottom: 60px;
    border: none !important;
    background-color : white;
    box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.2)
}

.ck.ck-editor__editable[role='textbox'] {
    max-height: 300px !important;
    min-height: 300px !important;
    background-color: #f2f2f2 !important;
}

.tab {
    display: none;
}

.step {
    opacity: 0.5;
}

    .step.active {
    opacity: 1;
}

input.invalid {
    background-color: #ffdddd;
}