/* ===== Start: Alertify custom ===== */
.ajs-dialog-custom {
    max-width: 25% !important;
    min-width: 380px !important;
    height: 206px !important;
}

.alertify .ajs-commands {
    top: 19px !important;
    right: -10px !important;
}

.alertify .ajs-header {
    background-color: #ffba57 !important;
    padding-top: 8px !important;
    padding-bottom: 5px !important;
    min-height: 42px !important;
}

.alertify .ajs-body {
    height: auto;
}

.alertify.ajs-maximized .ajs-body .ajs-content,
.alertify.ajs-resizable .ajs-body .ajs-content {
    top: 60px !important;
    bottom: 4px !important;
}

.alertify .ajs-footer {
    margin-top: 0;
    margin-left: -25px !important;
    margin-right: -25px !important;
    background-color: #ffba57 !important;
    padding-top: 15px !important;
    padding-bottom: 0px !important;
    min-height: 43px !important;
}

.alertify.ajs-maximized .ajs-footer,
.alertify.ajs-resizable .ajs-footer {
    height: 42px;
}

.alertify .ajs-footer .ajs-buttons.ajs-primary {
    margin-top: -16px;
}

.alertify-notifier .ajs-message.ajs-custom {
    color: #FFF;
    background-color: #ffba57;
    border-color: #fd7e14;
}

/* ===== End: Alertify custom ===== */



/* ===== Start: Progress bar ===== */
/* INDIVIDUAL BAR HOLDER */
.bar-holder {
    width: 100%;
    background-color: rgb(231, 231, 231);
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    margin: 0 auto;
}

/* progress bar: 20% */
.bar-20 {
    padding-top: 2px;
    height: 25px;
    width: 20%;
    color: #111;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    text-align: center;
    margin-top: 20px;
    font-weight: 400;
    background-color: red;
}

/* progress bar: 40% */
.bar-40 {
    padding-top: 2px;
    height: 25px;
    width: 40%;
    color: #111;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    text-align: center;
    margin-top: 20px;
    font-weight: 400;
    background-image: linear-gradient(100deg, red, orange);
}

/* progress bar: 60% */
.bar-60 {
    padding-top: 2px;
    height: 25px;
    width: 60%;
    color: #111;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    text-align: center;
    margin-top: 20px;
    font-weight: 400;
    background-image: linear-gradient(100deg, red, orange, yellow);
}

/* progress bar: 80% */
.bar-80 {
    padding-top: 2px;
    height: 25px;
    width: 80%;
    color: #111;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    text-align: center;
    margin-top: 20px;
    font-weight: 400;
    background-image: linear-gradient(100deg, red, orange, yellow, green);
}

/* progress bar: 100% */
.bar-100 {
    padding-top: 2px;
    height: 25px;
    width: 100%;
    color: #111;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    text-align: center;
    margin-top: 20px;
    font-weight: 400;
    background-image: linear-gradient(100deg, red, orange, yellow, green, blue);
}

/* ===== End: Progress bar ===== */

.table-td-data-none {
    background-color: #BEBEBE !important;
    font-weight: bold;
    font-size: 14px;
    color: #FFF;
    text-align: center !important;
}

.table-bg-form-input {
    background-color: #e9ecef;
}

.table-td-date {
    width: 164px !important;
}

.table-td-note {
    padding-top: 28px !important;
}

.input-datepicker {
    padding: 5px;
    /* width: 120px; */
    width: 86%;
}

.input-datepicker:focus {
    background-color: #FFF;
}

.btn-delete-input {
    width: 14%;
    height: 43px;
}



a {
    text-decoration: none;
}

.pricingTable {
    text-align: center;
    background: #fff;
    margin: 0 -15px;
    box-shadow: 0 0 3px #ababab;
    padding-bottom: 40px;
    border-radius: 10px;
    color: #cad0de;
    transform: scale(1);
    transition: all .5s ease 0s
}

.pricingTable:hover {
    transform: scale(1.05);
    z-index: 1
}

.pricingTable .pricingTable-header {
    padding: 20px 0;
    background: #f5f6f9;
    border-radius: 10px 10px 50% 50%;
    transition: all .5s ease 0s
}

.pricingTable:hover .pricingTable-header {
    background: #ff9624
}

.pricingTable .pricingTable-header i {
    font-size: 50px;
    color: #858c9a;
    margin-bottom: 10px;
    transition: all .5s ease 0s
}

.pricingTable .price-value {
    font-size: 35px;
    color: #ff9624;
    transition: all .5s ease 0s
}

.pricingTable .month {
    display: block;
    font-size: 14px;
    color: #cad0de
}

.pricingTable:hover .month,
.pricingTable:hover .price-value,
.pricingTable:hover .pricingTable-header i {
    color: #fff
}

.pricingTable .heading {
    font-size: 15px;
    color: #ff9624;
    /* margin-bottom: 20px; */
    text-transform: uppercase;
}

.pricingTable .pricing-content {
    min-height: 170px;
}

.pricingTable .pricing-content ul {
    list-style: none;
    padding: 0;
    margin-bottom: 30px
}

.pricingTable .pricing-content ul li {
    line-height: 30px;
    color: #a7a8aa
}

.pricingTable .pricingTable-signup a {
    display: inline-block;
    font-size: 15px;
    color: #fff;
    padding: 3px 20px;
    border-radius: 20px;
    background: #ffa442;
    text-transform: uppercase;
    transition: all .3s ease 0s
}

.pricingTable .pricingTable-signup a:hover {
    box-shadow: 0 0 10px #ffa442
}

.pricingTable.blue .heading,
.pricingTable.blue .price-value {
    color: #4b64ff
}

.pricingTable.blue .pricingTable-signup a,
.pricingTable.blue:hover .pricingTable-header {
    background: #4b64ff
}

.pricingTable.blue .pricingTable-signup a:hover {
    box-shadow: 0 0 10px #4b64ff
}

.pricingTable.red .heading,
.pricingTable.red .price-value {
    color: #ff4b4b
}

.pricingTable.red .pricingTable-signup a,
.pricingTable.red:hover .pricingTable-header {
    background: #ff4b4b
}

.pricingTable.red .pricingTable-signup a:hover {
    box-shadow: 0 0 10px #ff4b4b
}

.pricingTable.green .heading,
.pricingTable.green .price-value {
    color: #40c952
}

.pricingTable.green .pricingTable-signup a,
.pricingTable.green:hover .pricingTable-header {
    background: #40c952
}

.pricingTable.green .pricingTable-signup a:hover {
    box-shadow: 0 0 10px #40c952
}

.pricingTable.blue:hover .price-value,
.pricingTable.green:hover .price-value,
.pricingTable.red:hover .price-value {
    color: #fff
}

@media screen and (max-width:990px) {
    .pricingTable {
        margin: 0 0 20px
    }
}

.icon-bills-tab {
    width: 25px;
}

.list-member-overflow {
    max-height: 483px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.member-job-overflow {
    min-height: 40px;
    max-height: 150px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.table-detail thead tr td {
    padding: 5px !important;
    vertical-align: middle;
}

.table-detail tbody tr td {
    padding: 10px !important;
    vertical-align: middle;
}

.table-detail-update thead tr td {
    padding: 5px !important;
    vertical-align: middle;
}