.banner-route-document {
    width: 100%;
    height: 103px; /* Limit height to 200px */
    background-image: url('../img/pixel-city-chill.gif'); /* Replace with the path to your GIF */
    background-size: cover; /* Cover the entire area */
    background-position: center; /* Center the image */
    display: flex;
    justify-content: center;
    align-items: center;
    color: white; /* Text color */
    text-align: center;
}

.content-banner {
    background-color: rgba(0, 0, 0, 0.5); /* Optional: Add a dark overlay for better text visibility */
    padding: 13px;
    border-radius: 10px;
}