.o_documents_folder {
  background-color: #f8f9fa !important;
  border: 0px !important;
}

.card-wrap.selected {
  opacity: 1;
  border-color: #017e84;
  box-shadow: 0 0 0 2px #017e84;
}

.o_kanban_view {
  height: 100%;
}

.o_documents_image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.o_documents_kanban {
  --KanbanRecord-width: 150px;
}

.card-wrap {
  /*width: 220px;*/
  border-radius: 8px;
  border-color: #343a406e;
  border: 1px solid #343a4012;
  box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.03);
  padding: 14px;
  background: #fff;
  overflow: hidden;
  color: var(--color-text);
  /*cursor: pointer;*/
  transition: all .2s ease-in-out;
}

.card-header-thumbnail {
  display: flex !important;
  justify-content: center;
  height: 120px;
  width: 100%;
  border-radius: 100% 0% 100% 0% / 0% 50% 50% 100% !important;
  display: grid;
  place-items: center;

}

.card-header-thumbnail i {
  color: #fff;
  font-size: 72px;
}

.card-wrap:hover {
  transform: scale(1.05);
}

.card-title {
  color: #212529;
  font-size: 13px;
  font-weight: 500;
  word-wrap: break-word;
  margin-top: 10px;
  margin-bottom: 5px;

}


.white-img {
  filter: brightness(0) invert(1);
}

.card-btn {
  color: white;
}

.o_input_document {
  border-radius: 5px;
  border: 1px solid transparent;
  background-color: #3b3b3b;
  padding: 4px 8px;
}

/* .o_field_widget {
  width: 100%;
} */
.o_inspector_button {
  background-color: #4C4C4C;
  border: 1px solid #1A1A1A;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.1);
  text-shadow: 0 1px 0 #1A1A1A;
  color: #cccccc;
}

.o_inspector_label>span {
  display: block;
  max-width: 85px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  /* vertical-align: top; */
}

.drop-zone {
  border-radius: 10px;
  padding: 20px;
}

.drop-zone .text-zone {
  text-align: center;
}


.drop-zone.dragover {
  border: 2px dashed #ccc;
  background-color: #b0b9c7;
  border-color: #ffffff;
}

.dragover .o_kanban_record {
  opacity: 0.3;
  filter: blur(1px);
}


.dropdown-list {
  /* position: absolute; */
  width: 100%;
  max-height: 120px;
  border: 1px solid #ccc;
  border-top: none;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  background-color: white;
  /* display: none; */
  overflow-y: auto;
  z-index: 1;
  transition: all 0.2s ease-in-out;
}

.dropdown-list div {
  color: black;
  padding: 10px;
  cursor: pointer;
}

.dropdown-list div:hover {
  background-color: #f1f1f1;
}

ul.tags-list {
  /* list-style-image: url('../img/undertale-heart-small.png'); */
  list-style-type: circle;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  /* Semi-transparent black background */
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.card-img:hover .overlay {
  opacity: 1;
}

.overlay-button {
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
  /* Shadow effect */
  transition: transform 0.3s ease;
}

.overlay-button:hover {
  transform: scale(1.1);
  /* Slightly enlarge the button on hover */
}

#context-menu {
  position: fixed;
  z-index: 100000;
  width: 200px;
  background: #515151;
  transform: scale(0);
  border-radius: 4px;
  transform-origin: top left;
}

#context-menu.active {
  transform: scale(1);
  transition: transform 200ms ease-in-out;
}

#context-menu .item {
  padding: 8px 10px;
  font-size: 15px;
  color: #eee;
}

#context-menu .item:hover {
  background: #555;
}