.o_ansv_file_filter {
    z-index: 9;
    flex: 0 0 220px;
    background-color: #ffffff;
    color: white;  
    font-size: 1.1rem;
    font-family: arial;
    margin: 0;
    padding: 3rem;
    box-shadow: 5px -4px 18px 2px rgb(120 116 116 / 3%);
}

summary {
    display: block;
    cursor: pointer;
    outline: 0;
}

summary::-webkit-details-marker {
    display: none;
}


.tree-nav__item {
    display: block;
    white-space: nowrap;
    color: #ccc;
    position: relative;
}

.tree-nav__item.is-expandable::before {
    border-left: 1px solid #333;
    content: "";
    height: 100%;
    left: 0.8rem;
    position: absolute;
    top: 2.4rem;
    height: calc(100% - 2.4rem);
}

.tree-nav__item .tree-nav__item {
    margin-left: 1.4rem;
}

.tree-nav__item.is-expandable[open]>.tree-nav__item-title::before {
    content: '\f107';
    transform: rotate(0deg);
}

.tree-nav__item.is-expandable>.tree-nav__item-title {
    padding-left: 1.4rem;
}

.tree-nav__item.is-expandable>.tree-nav__item-title::before {
    font-family: FontAwesome; 
    position: absolute;
    will-change: transform;
    transform: rotate(-90deg);
    transition: transform 300ms ease;
    content: '\f107';
    color: #212529;
    font-size: 1.1rem;
    left: 0;
    display: inline-block;
    width: 1.6rem;
    text-align: center;
}

.tree-nav__item-title {
    cursor: pointer;
    display: block;
    outline: 0;
    color: #212529;
    font-size: 1.1rem;
    line-height: 2.2rem;
}

.tree-nav__item-title.selected {
    background-color: #d4ebfa;
    border-radius: 5px;
}

.tree-nav__item-title .icon {
    display: inline;
    padding-left: 1.6rem;
    margin-right: 0.8rem;
    color: #666;
    font-size: 1.4rem;
    position: relative;
}

.tree-nav__item-title .icon::before {
    top: 0;
    position: absolute;
    left: 0;
    display: inline-block;
    width: 1.6rem;
    text-align: center;
}

.tree-nav__item-title::-webkit-details-marker {
    display: none;
}