.document_inspector {
    flex: 0 0;
    overflow: auto;
    font-weight: 500;
    color: #f2f2f2;
    background-color: #525a5c;
    transition: all 0.4s ease-in-out;
}

.document_inspector.active {
    flex: 0 0 350px;
}

.documents_inspector_info {
    border-top: 1px solid #525a5c;
    padding: 8px 16px 16px;
}

.thumbnail-preview {
    height: 150px;
    width: 100%;
    background-color: #3b3e3e;
}

.o_inspector_section {
    padding: px 16px 16px;
}

.btn-preview {
    width: 180px;
    height: 60px;
    cursor: pointer;
    background: transparent;
    border: 1px solid #91C9FF;
    outline: none;
    transition: 1s ease-in-out;
}

.btn-preview:hover {
    transition: 1s ease-in-out;
    background: #b9bfc6;
}

svg.border {
    position: absolute;
    left: 0;
    top: 0;
    fill: none;
    stroke: #fff;
    stroke-dasharray: 150 480;
    stroke-dashoffset: 150;
    transition: 1s ease-in-out;
  }

.btn-preview:hover svg.border {
    stroke-dashoffset: -480;
}

.btn-preview span {
    color: white;
    font-size: 18px;
    font-weight: 100;
}


  