        body.shimeji-pinned iframe {
            pointer-events: none;
        }

        body.shimeji-select-ie {
            cursor: cell !important;
        }

        #shimeji-contextMenu::-webkit-scrollbar {
            width: 6px;
        }

        #shimeji-contextMenu::-webkit-scrollbar-thumb {
            background-color: rgba(30, 30, 30, 0.6);
            border-radius: 3px;
        }

        #shimeji-contextMenu::-webkit-scrollbar-thumb:hover {
            background: #555;
        }

        table,
        th,
        td {
            border: 1px solid white;
            border-collapse: collapse;
        }

        table {
            table-layout: fixed;
            width: 300px;
        }

        .o_text {
            text-align: left;
        }

        a[name="helpdesk.helpdesk_my_ticket_action_no_create"] {
            color: white !important;
            background-color: #18615B;
        }

        .banner_helpdesk {
            background-color: #Ffffff;
            max-width: 100%;
        }