/* body.shimeji-pinned iframe {
    pointer-events: none;
}

body.shimeji-select-ie {
    cursor: cell !important;
}

#shimeji-contextMenu::-webkit-scrollbar {
    width: 6px;
}

#shimeji-contextMenu::-webkit-scrollbar-thumb {
    background-color: rgba(30, 30, 30, 0.6);
    border-radius: 3px;
}

#shimeji-contextMenu::-webkit-scrollbar-thumb:hover {
    background: #555;
} */

.o_helpdesk_banner_table,
.o_helpdesk_banner_table th,
.o_helpdesk_banner_table td {
    border: 1px solid white;
    border-collapse: collapse;
}

.o_helpdesk_banner_table {
    table-layout: fixed;
}

.o_text {
    text-align: left;
}

a[name="helpdesk.helpdesk_my_ticket_action_no_create"] {
    color: white !important;
}

.banner_helpdesk {
    background-color: #Ffffff;
    max-width: 100%;
}

.o_kanban_renderer.o_helpdesk_team_kanban {
    --KanbanRecord-width: 400px;
}

.oe_kanban_action_button{
    background-color: #676183;
        border-color: #fffbf7;

}

.o_tree_component_ticket .text-danger{
    background-color: #e7706c !important;
               color: #ffffff !important;

}