#wrapwrap{
    .login-view-bits{ 
        .form_container{ 
            padding: 15px;
            box-shadow: 0px 0px 10px #d2d1d1;
            background-color: #fff !important;
            border-radius: 20px;
            .input-group{
                .btn.btn-secondary{
                    display: flex;
                    padding: 14px;
                    align-items: center;
                    i{
                        margin: 0 5px;
                    }
                }
                a.btn{
                    background-color: #282828;
                    color: #fff !important;
                    border-radius: 0px 8px 8px 0px !important;
                    i{
                        color: #fff !important;
                    }
                }
            }
            input,.form-control{
                display: block;
                width: 100%;
                padding: 0.775rem 1rem;
                font-size: 1.1rem;
                font-weight: 500;
                line-height: 1.5;
                color: #4B5675;
                appearance: none;
                background-clip: padding-box;
                border: 1px solid #DBDFE9;
                border-radius: 0.475rem;
                transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
                &#db{
                    border-radius: 8px 0px 0px 8px !important;
                }
            } 
            .col-form-label,.form-label{
                font-size: 14px !important;
                font-weight: bold !important;
            }
            @media (max-width:768px) {
                width: auto !important;
                max-width: auto !important;
            }
        } 
        .oe_login_buttons{
            .btn-primary[type=submit]{
                padding: 14px;
                border-radius: 8px;
                background: #282828;
                color: #fff;
                border-color: #282828 !important;
                &:hover,&:active,&:focus{
                    color: #282828;
                    background: #fff;
                    border: 1px solid #282828;
                }
            } 
            a,button.btn{
                font-size: 12px;
                font-weight: 600;
            }
        }
        div.small{
            a,button.btn{
                font-size: 12px;
                font-weight: 600;
            }
        }
    }
}

::-webkit-scrollbar {
    width: 20px;
    height: 20px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #668c94;
}