body.o_web_client {
  .nav-wrapper-bits {
    display: none;
    &.toggle-show {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      background-color: #343a40;
      height: 100%;
      header {
        overflow-x: hidden;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
      }
      .sytray-container-bits {
        margin: 5px 5px;
        background-color: none !important;
        button {
          width: 100%;
          border: none !important;
          box-shadow: none !important;
          background: #343434;
          border-radius: 10px;
          img {
            width: 35px;
            border-radius: 30px !important;
          }
        }
        mark {
          font-size: 14px;
          margin-top: 8px;
          background: #fff !important;
          padding: 7px;
          border-radius: 8px;
        }
        .o_user_menu {
          .o-dropdown--menu {
            min-width: 15rem !important;
            .dropdown-item {
              padding: 5px 20px !important;
            }
          }
        }
        .powered-by {
          display: none;
        }
        &:hover {
          .powered-by {
            display: block !important;
            color: #fff;
            a {
              color: #aab6ff !important;
            }
          }
        }
      }
    }
    .btm-user-menu {
      z-index: 999;
      width: 100%;
    }
    @media (max-width: 768px) {
      position: absolute;
      top: 0;
      bottom: 0;
      height: 100%;
      z-index: 11;
    }
  }
  header.o_navbar {
    nav {
      background-color: transparent !important;
      border-bottom: none !important;
    }
    .o_company_logo {
      padding: 8px 20px !important;
      display: flex;
      align-items: center;
      justify-content: space-between;
      background: #343434;
      border-radius: 10px;
      margin: 5px 5px;
      i {
        color: #fff !important;
        font-size: 20px;
        display: none;
        @media (max-width: 768px) {
          display: block;
        }
      }
      img {
        width: 150px;
        height: 70px;
        object-fit: contain;
      }
    }
  }
  .primary-nav {
    width: 100%;
    flex: 1 1 0 !important;
    overflow-y: auto;
    .overflow-container {
      .main_link {
        .app_icon {
          height: 25px !important;
          width: 25px !important;
          display: inline-flex;
          img {
            object-fit: contain;
          }
        }
      }
    }
    ul#menu-dropdown {
      width: 100%;
      overflow: hidden;
      list-style-type: none !important;
      padding-left: 5px !important;
      li a.main_link {
        display: flex;
        align-items: center !important;
        padding: 1em;
        font-size: 14px;
        cursor: pointer;
        &:hover {
          background-color: #6c757d;
          font-weight: 600;
        }
      }
      ul.header-sub-menus.main {
        list-style-type: none !important;
        z-index: 3;
        position: absolute;
        left: 0;
        background-color: #343a40 !important;
        height: 100%;
        top: 0;
        width: 100%;
        padding: 0px 12px;
        // &:not(.show){
        // left: 100% !important;
        // }
        &:not(.show) {
          display: none;
          width: 0%;
        }
        .back_main_menu {
          position: relative;
          margin-left: -18px;
          h3 {
            color: #ffff !important;
            cursor: pointer;
          }
        }
        li {
          margin-left: 10px;
          background: #343a40;
          .header-sub-menus {
            list-style-type: none !important;
            border-left: 1px solid #717171;
            padding: 0;
          }
          .sub-main-menu {
            cursor: pointer !important;
            font-size: 14px;
            color: #fff;
            font-weight: 600;
            background: #343a40;
          }
        }
        @media (max-width: 768px) {
          position: relative !important;
          .back_main_menu {
            display: none !important;
          }
        }
        // &.show{
        //   li{
        // .collapse{
        //   display: block;
        // }
        //   }
        // }
        a {
          padding: 0.5rem !important;
          font-size: 12px !important;
        }
        &.show {
          li {
            .sub-main-menu {
              background: #eeeeee14;
              padding: 5px 10px !important;
              border-radius: 8px;
              margin: 8px 0px;
            }
          }
        }
      }
    }
    ::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      background-color: #f5f5f5;
    }

    ::-webkit-scrollbar {
      width: 6px;
      background-color: #f5f5f5;
    }

    ::-webkit-scrollbar-thumb {
      background-color: #575757;
    }
  }
  .custom-menu-button {
    display: inline-block;
    position: absolute;
    top: 20px;
    right: 0;
    margin-right: -20px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;

    .btn-sidebar {
      z-index: -1;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      content: "";
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
      background: #343a40;
      border-radius: 10px;
    }
  }

  .sidebar {
    height: calc(100% - (3.5rem + 1px));
    overflow-x: none;
    overflow-y: initial;
    padding-bottom: 0;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    scrollbar-width: thin;
    scrollbar-color: #a9a9a9 transparent;
  }

  .nav-pills {
    .nav-link {
      background: none;
      border: 0;
      color: #c2c7d0;
      border-radius: 0.45rem;
    }
  }

  .main_link.nav-link.active {
    background-color: #475f6f;
    // color: #1f2d3d;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  }

  .elevation-4 {
    z-index: 999;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22) !important;
  }
}
