@mixin common_color {
  color: #343a40 !important;
  border: 1px solid #343a40 !important;
  background-color: #fff !important;
}
body.o_web_client {
  flex-flow: row !important;
  &.editor_has_snippets_hide_backend_navbar {
    .nav-wrapper-bits {
      display: none !important;
    }
  }
  .wrapper-container-bits {
    display: flex;
    width: 100%;
    .content-wrapper-bits {
      width: 100%;
      overflow-x: clip;
      margin-bottom: 20px;
      @media (max-width: 1540px) {
        height: 100%;
        // overflow: auto;
      }
      .btn-link {
        color: #343a40 !important;
      }
      .btn.btn-primary {
        background-color: #343a40 !important;
        color: #fff !important;
        border-color: #fff;
        border: 1px solid #343a40;
        &:focus,
        &:active,
        &:hover {
          background-color: #fff !important;
          color: #343a40 !important;
          border-color: #343a40 !important;
        }
      }
      .btn.btn-secondary {
        background-color: #fff !important;
        color: #343a40 !important;
        border-color: #343a40;
        border: 1px solid #343a40;
        &:focus,
        &:active,
        &:hover {
          background-color: #343a40 !important;
          color: #fff !important;
          border-color: #343a40 !important;
        }
      }
      .o_main_navbar {
        padding: 0 10px;
        .o_menu_systray {
          align-items: center;
          .o_user_menu {
            display: none !important;
          }
          .o_edit_website_container {
            background-color: transparent !important;
            border: none !important;
          }
          a:not(.dropdown-item),
          button.dropdown-toggle,
          .o_MessagingMenu_toggler,
          .o_ActivityMenuView_dropdownToggle {
            background-color: #343a40;
            margin: 0px 4px;
            width: auto !important;
            height: 35px;
            text-align: center;
            justify-content: center;
            border-radius: 6px;
            &:hover {
              background-color: #fff !important;
              border: 1px solid #343a40 !important;
              color: #343a40 !important;
              i {
                color: #343a40 !important;
              }
            }
            i {
              color: #fff;
              font-size: 16px !important;
            }
            .badge.rounded-pill,
            .badge {
              position: absolute;
              right: 0px;
              top: 2px;
              background-color: #ffffff;
              border-color: #343a40;
              border: 1px solid #343a40;
              color: #343a40;
            }
            &.o_mobile_menu_toggle {
              padding: 15px !important;
            }
          }
          //o_MessagingMenu_dropdownMenu
          .o_MessagingMenu_dropdownMenu {
            button.o_MessagingMenuTab {
              color: #343a40 !important;
              border: 1px solid #343a40 !important;
              padding: 5px 10px !important;
              border-radius: 5px !important;
              &.o-active {
                background-color: #343a40 !important;
                color: #fff !important;
              }
            }
          }
          // header button popup
          .o-mail-DiscussSystray {
            box-shadow: 0px 1px 5px #abababed;
            border-radius: 16px;
            .o-mail-MessagingMenu-header {
              button.fw-bold {
                border-bottom: 1px solid #343a40;
              }
            }
          }
          .o_mobile_menu_toggle {
            display: none !important;
          }
        }
        .sidebar-toggler {
          cursor: pointer;
          .sidebar-toggle-bits {
            font-size: 12px;
            color: #343a40;
            i.back-arrow {
              width: 0px !important;
              visibility: hidden;
              opacity: 0;
            }
          }
          &:hover {
            .sidebar-toggle-bits {
              i.toggle {
                width: 0px !important;
                display: none !important;
              }
              i.back-arrow {
                visibility: visible;
                opacity: 1;
                transition: all 0.2s;
                width: 100% !important;
                font-size: 18px;
                font-weight: 600;
                margin-top: 4px;
              }
            }
          }
        }
      }
      .o_action_manager {
        height: 100%;
        width: 100%;
        .o_we_website_top_actions {
          form .btn {
            border-radius: 5px;
            margin-right: 2px;
          }
        }
        .o_control_panel {
          padding: 10px 14px !important;
          // .o_cp_top{
          // }
          .o_cp_top {
            .o_cp_top_right {
              .o_cp_searchview {
                .o_searchview_facet {
                  .o_searchview_facet_label {
                    background-color: #343a40 !important;
                    color: #fff !important;
                  }
                }
              }
            }
            //used in form view
            .o_cp_bottom_right {
              .o_cp_action_menus {
                button.dropdown-toggle {
                  color: #fff !important;
                  background-color: #343a40;
                  border: 1px solid #343a40 !important;
                  margin-right: 3px !important;
                  border-radius: 5px !important;
                }
              }
              .o_cp_pager {
                .o_pager {
                  button {
                    @include common_color;
                    width: 30px;
                    height: 30px;
                    margin-right: 3px;
                    border-radius: 6px !important;
                  }
                }
              }
              .o_form_button_create {
                color: #343a40 !important;
                border-radius: 5px !important;
                border: 1px solid #343a40 !important;
                &:hover {
                  color: #fff !important;
                  background-color: #343a40 !important;
                }
              }
            }
          }
          .o_cp_bottom {
            .o_list_buttons {
              button {
                margin-right: 3px !important;
              }
            }
            .o_cp_bottom_left {
              .o_cp_action_menus {
                button.dropdown-toggle {
                  color: #fff !important;
                  background-color: #343a40;
                  border: 1px solid #343a40 !important;
                  margin-right: 3px !important;
                  border-radius: 5px !important;
                }
              }
            }
            .o_cp_bottom_right {
              .o_search_options {
                .o-dropdown.dropdown {
                  button.btn {
                    color: #343a40 !important;
                    border: 1px solid #343a40 !important;
                    margin-right: 3px !important;
                    border-radius: 5px !important;
                    &.o_save_favorite {
                      color: #fff !important;
                      &:hover {
                        color: #343a40 !important;
                        border-color: #343a40 !important;
                      }
                    }
                  }
                }
              }
              .o_cp_pager {
                .o_pager {
                  button {
                    @include common_color;
                    width: 30px;
                    height: 30px;
                    margin-right: 3px;
                    border-radius: 6px !important;
                  }
                }
              }
              .o_cp_switch_buttons {
                button {
                  @include common_color;
                  width: 30px;
                  height: 30px;
                  margin-right: 3px;
                  border-radius: 6px !important;
                  &.active {
                    background-color: #eee !important;
                  }
                }
              }
            }
          }
          .o_control_panel_main {
            // create button
            .o_control_panel_breadcrumbs {
              .o_control_panel_main_buttons {
                .btn-outline-primary {
                  color: #343a40 !important;
                  border-color: #343a40 !important;
                  &:hover,
                  &:focus,
                  &:active {
                    color: #fff !important;
                    background-color: #343a40 !important;
                  }
                }
              }
              .breadcrumb {
                .breadcrumb-item {
                  a {
                    color: #343a40 !important;
                  }
                }
              }
            }
            // action button
            .o_control_panel_actions {
              .btn-outline-secondary {
                border-color: #343a40 !important;
                i {
                  color: #343a40 !important;
                }
                span {
                  color: #343a40 !important;
                }
              }
              .o_cp_searchview .o_searchview {
                border-radius: 8px 1px 1px 8px;
                border-color: #343a40;
              }
              .o-dropdown {
                button.o_searchview_dropdown_toggler {
                  border-radius: 0px 8px 8px 0px;
                }
              }
              .o_search_bar_menu {
                i {
                  color: #343a40 !important;
                }
              }
            }
            // navigation
            .o_control_panel_navigation {
              .o_pager_counter {
                span {
                  font-size: 18px;
                }
              }
              button {
                font-size: 0.875rem;
                border-radius: 6px !important;
                border-color: #343a40;
                background-color: #fff !important;
                color: #343a40 !important;
                height: 35px;
                margin: 0px 3px;
                &.active {
                  background-color: #343a402e !important;
                }
                // width: 35px;
                @media (max-width: 768px) {
                  width: auto !important;
                }
              }
            }
          }
        }
        // Discuss module in community
        .o-mail-Discuss {
          width: 100%;
        }
        .o_content {
          overflow: auto !important;
          height: 100%;
          margin-bottom: 60px;
          max-height: calc(100vh - 126px);
        }
        // config setting view
        .o-settings-form-view {
          .o_setting_container {
            .settings_tab {
              .app_name {
                font-size: 15px !important;
              }
            }
            .settings {
              margin-bottom: 40px;
            }
          }
        }
        // form view
        .o_form_view_container {
          .o_form_sheet_bg {
            .o_form_statusbar {
              .o_statusbar_buttons {
                .btn-primary {
                  background-color: #71639e !important;
                  border-color: #71639e !important;
                  &:hover {
                    background-color: #fff !important;
                  }
                }
                .btn-secondary {
                  background-color: #fff !important;
                  border-color: #71639e !important;
                  &:hover {
                    background-color: #71639e !important;
                  }
                }
              }
            }
            ////////////////////////////////////////////////////////////////
            .o_form_sheet {
              border-radius: 8px;
              box-shadow: 0px 0px 3px #919191;
              border: none;
              .o_cell {
                label,
                span,
                a {
                  font-size: 15px !important;
                }
              }
              .o_form_uri {
                span:first-child {
                  color: #343a40 !important;
                }
              }
              .o_notebook {
                .o_notebook_headers {
                  .nav.nav-tabs {
                    border-top: 1px solid #dee2e6;
                    padding: 0px !important;
                    .nav-item .nav-link {
                      color: #484848;
                      display: block;
                      border-right: 1px solid #343a406b !important;
                      padding: 10px;
                      font-weight: 500;
                      &:after {
                        height: 5px;
                        background-color: #343a40;
                      }
                      &:before {
                        height: 5px;
                        background-color: #343a40;
                      }
                      &.active {
                        border-bottom: 2px solid #31485e;
                        background: #f9f9f9 !important;
                        font-weight: 600;
                      }
                    }
                  }
                }
              }
            }
            .o_list_renderer {
              table {
                a {
                  color: #000730 !important;
                }
              }
            }
          }
        }
        .o_ChatterContainer {
          .o_ChatterTopbar {
            button.o_ChatterTopbar_button {
              color: #343a40 !important;
              border-color: #343a40 !important;
              background: #fff !important;
              border-radius: 5px !important;
              &.o-active,
              &:hover {
                background: #343a40 !important;
                color: #fff !important;
              }
            }
          }
          .o_Composer {
            .o_Composer_actionButton {
              background: #343a40 !important;
              color: #fff !important;
              opacity: 1;
            }
          }
          .o_Activity_info {
            a.o_Activity_detailsButton {
              margin-left: 3px;
            }
          }
          .o_Activity_tools {
            button {
              margin-right: 3px;
              margin-top: 3px;
            }
          }
        }
        // kanban view
        .o_kanban_view {
          .o_kanban_record {
            margin: 14px 5px 0px !important;
            border-radius: 15px;
            .oe_kanban_card,
            .oe_kanban_global_click {
              border-radius: 8px;
              border-color: #343a406e;
              border: 1px solid #343a4012;
              box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.03);
              padding: 14px;
            }
          }
        }
        // list view
        .o_list_view.o_action {
          height: 100%;
          .o_content {
            padding: 10px 14px;
          }
          .o_list_renderer {
            overflow: auto;
            max-height: calc(100vh - 146px);
            border: 0px !important;
            border-radius: 8px;
            box-shadow: 0px 0px 3px #919191;
            .o_list_table {
              table-layout: auto !important;
              thead {
                th {
                  position: sticky !important;
                  top: 0;
                  z-index: 1;
                  padding: 10px 12px;
                  background-color: #343a40;
                  color: #fff !important;
                  .o_optional_columns_dropdown {
                    padding: 0px !important;
                    height: auto;
                    width: auto !important;
                    position: inherit !important;
                  }
                  button {
                    color: #fff !important;
                    background: #343a40;
                    border-radius: 0px;
                  }
                  .form-check-input {
                    background-color: #fff !important;
                  }
                }
              }
              tbody {
                tr {
                  border-color: #343a4099;
                  border: none;
                  td {
                    border: none;
                    padding: 14px 12px;
                    color: #343a40 !important;
                    font-size: 15px !important;
                    font-weight: 500;
                  }
                  &.o_data_row {
                    border-bottom-width: 1px !important;
                    border-bottom-style: dashed !important;
                  }
                }
                box-shadow: 0px 1px 2px #e2e2e2;
                border-radius: 12px;
              }
              tfoot {
                background-color: #fff !important;
                tr {
                  td {
                    border: none;
                    padding: 10px 12px;
                    color: #343a40 !important;
                  }
                }
              }
            }
            .form-check {
              .form-check-input {
                &:checked {
                  background-color: #343a40 !important;
                  border-color: #343a40 !important;
                }
              }
            }
          }
        }
        // graph view
        .o_graph_view {
          .o_content {
            height: calc(100vh - 100px);
          }
        }
        // discuss view
        .o_DiscussContainer {
          // background: #fff !important;
          .o_DiscussSidebar {
            margin: 7px;
            border: none !important;
            box-shadow: 0px 1px 4px #9191912e;
            border-radius: 14px;
            .o_DiscussSidebarMailbox {
              background: #e3e3e39e;
              color: #343a40 !important;
              border-radius: 7px !important;
              margin: 5px 10px;
              padding: 10px 0 !important;
              font-weight: 600 !important;
            }
          }
          .o_Discuss_content {
            overflow: scroll !important;
            .o_ThreadViewTopbar {
              border-bottom: none !important;
              // background-color: #fff !important;
              margin-top: 5px !important;
            }
            .o_ThreadView_bottomPart {
              margin: 7px;
              box-shadow: 0px 0px 6px #413d3d3b !important;
              border: 1px solid #343a4000;
              border-radius: 14px;
              .o_MessageList {
                border-radius: 14px;
              }
              //msg section
              .o_Message {
                margin-top: 16px !important;
                .o-mail-Message-core {
                  //right content / msg content
                  .o_Message_core {
                    .o_Message_header {
                      .o_Message_authorName {
                        font-size: 16px;
                        margin: 8px 0px;
                      }
                    }
                    .o_Message_bubbleWrap {
                      .o_Message_bubbleWrap {
                        border-radius: 0px 10px 6px 10px !important;
                        .o_Message_bubble {
                          padding: 15px 25px !important;
                        }
                      }
                    }
                  }
                }
              }
            }
            .o_Composer {
              .o_Composer_coreMain {
                .btn {
                  color: #343a40 !important;
                }
                .o_Composer_actionButton {
                  background: #343a40 !important;
                  margin: 0 !important;
                  opacity: 1;
                  color: #fff !important;
                }
              }
            }
          }
        }
      }
      #terabits-link {
        h2 {
          padding: 12px 28px;
          background: #eee;
          font-size: 15px !important;
        }
      }
    }
  }
}

.menu {
  display: block;
  width: 250px;
  height: 100%;
  transition: all 0.45s cubic-bezier(0.77, 0, 0.175, 1);
  z-index: 3;
  .icon {
    position: absolute;
    top: 12px;
    right: 10px;
    pointer-events: none;
    width: 24px;
    height: 24px;
    color: #fff;
  }
  a {
    display: block;
    white-space: nowrap;
  }
}

.menu,
.menu a,
.menu a:visited {
  color: #aaa;
  text-decoration: none !important;
  position: relative;
}
.new-wrapper {
  position: absolute;
  left: 50px;
  width: calc(100% - 50px);
  transition: transform 0.45s cubic-bezier(0.77, 0, 0.175, 1);
}

#menu:checked + ul.menu-dropdown {
  left: 0;
  -webkit-animation: all 0.45s cubic-bezier(0.77, 0, 0.175, 1);
  animation: all 0.45s cubic-bezier(0.77, 0, 0.175, 1);
}
.sub-menu-checkbox:checked + ul.sub-menu-dropdown {
  display: block !important;
  -webkit-animation: grow 0.45s cubic-bezier(0.77, 0, 0.175, 1);
  animation: grow 0.45s cubic-bezier(0.77, 0, 0.175, 1);
}
.openNav .new-wrapper {
  position: absolute;
  transform: translate3d(200px, 0, 0);
  width: calc(100% - 250px);
  transition: transform 0.45s cubic-bezier(0.77, 0, 0.175, 1);
}

.downarrow {
  background: transparent;
  position: absolute;
  right: 50px;
  top: 12px;
  color: #777;
  width: 24px;
  height: 24px;
  text-align: center;
  display: block;
}
.downarrow:hover {
  color: #fff;
}
.menu-dropdown {
  top: 0;
  overflow-y: auto;
}
.overflow-container {
  position: relative;
  height: 100% !important;
  overflow-y: auto;
  z-index: -1;
  display: block;
}
.sub-menu-dropdown {
  background-color: #333;
}
.openNav .menu {
  top: 73px;
  transform: translate3d(200px, 0, 0);
  transition: transform 0.45s cubic-bezier(0.77, 0, 0.175, 1);
}

/* look and feel only, not needed for core menu*/

@-webkit-keyframes grow {
  0% {
    display: none;
    opacity: 0;
  }
  50% {
    display: block;
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@keyframes grow {
  0% {
    display: none;
    opacity: 0;
  }
  50% {
    display: block;
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.o_content.o_component_with_search_panel {
  height: 100vh !important;
}
.o-dropdown {
  .dropdown-toggle {
    span {
      color: #aeadc1;
    }
  }
}
.o_main_navbar {
  .o_nav_entry {
    color: #343a40;
  }
}

.title-min-width {
  min-width: 400px !important;
}

.project-max-width {
  max-width: 450px !important;
  overflow: hidden !important;
}

.breadcrumb .text-truncate {
  max-width: 600px;
}
